/* Stylehsheet */
@import "semantic";

body {
    background: #ffffff;
    width:99%;
    text-align: center;
    display:block;
}
main {
   display: flex;
    justify-content: space-around;

}

article {
    width:100%;
    justify-content: space-around;
    
}